<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Story classifier</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="root">
          <section class="section">
            <div class="container">
              <div id="form">
                <p class="control">
                  <label for="" class="label">Content</label>
                  <textarea
                    class="textarea"
                    v-bind:class="{'is-danger': isFailed}"
                    name="content"
                    rows="8"
                    cols="40"
                    v-model="content"
                  ></textarea>
                  <span v-if="isFailed" class="help is-danger">{{ error }}</span>
                </p>
                <p class="control">
                  <button
                    class="button is-primary"
                    v-bind:class="{'is-loading': isFetching}"
                    v-on:click.stop.prevent="requestClassify"
                  >Submit</button>
                </p>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Class</th>
                      <th>Probability</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in result">
                      <th>{{ item.label }}</th>
                      <td>{{ item.proba }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>

        <script src="app.js" charset="utf-8"></script>
    </body>
</html>
